@import url('https://fonts.googleapis.com/css2?family=Anton&family=Fredoka+One&family=Permanent+Marker&display=swap');

/* Style.css */
body {
    background-color: #192A32;
    /* overflow-y: hidden; */
}

h1 {
    font-size: 2.5rem;
    text-decoration: wavy !important;
    text-transform: capitalize;
    font-family: 'Permanent Marker', cursive;
    color: #F18F43;
}

span {
    font-family: 'Fredoka One', cursive;
}

span:nth-child(1) {
    background-color: brown;
    background-image: linear-gradient(45deg,
            brown 16.666%,
            brown 16.666%,
            #E16541 33.333%,
            #F18F43 33.333%,
            red 50%,
            #8B9862 50%,
            #8B9862 66.666%,
            #476098 66.666%,
            brown 83.333%,
            brown 83.333%);
    background-size: 100%;
    font-size: 2rem;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

span:nth-child(2) {
    background-color: brown;
    background-image: linear-gradient(45deg,
            #8B9862 16%,
            #8B9862 16%,
            brown 50%,
            chocolate 66.666%,
            #E16541 33.333%,
            #F18F43 33.333%,
            red 50%,
            #476098 66.666%,
            brown 83.333%,
            brown 83.333%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

span:nth-child(3) {
    background-color: brown;
    background-image: linear-gradient(45deg,
            brown 16.666%,
            brown 16.666%,
            #E16541 33.333%,
            #F18F43 33.333%,
            red 50%,
            #8B9862 50%,
            #8B9862 66.666%,
            #476098 66.666%,
            brown 83.333%,
            brown 83.333%);
    background-size: 100%;
    font-size: 2rem;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#text {
    position: relative;
    bottom: 30px;
    width: fit-content;
    font-family: 'Permanent Marker', cursive;
    word-spacing: 10px;
    box-shadow: inset 8px 8px 10px #0c2c38, 5px 5px 10px #00080b, -6px -6px 10px #192A32;
    /* border: thin solid; */
    text-align: center;
    width: 25%;
    height: 80px;
    font-size: 40px;
    margin: auto;
    background-color: #CA4246;
    background-image: linear-gradient(45deg,
            #CA4246 16.666%,
            #E16541 16.666%,
            #E16541 33.333%,
            #F18F43 33.333%,
            #F18F43 50%,
            #8B9862 50%,
            #8B9862 66.666%,
            #476098 66.666%,
            #476098 83.333%,
            #A7489B 83.333%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#table {
    width: 28%;
    height: 50vh;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    position: relative;
    bottom: 20px;
}

#table #row td {
    margin: auto;
    background-color: #1F3540;
    width: 80px;
    height: 80px;
    font-size: 3rem;
    font-family: 'Fredoka One', cursive;
    /* font-family: 'Permanent Marker', cursive; */
    /* background: #000; */
    color: antiquewhite;
    position: relative;
}

#box1 {
    /* border-top:0; */
    /* border-left: 0; */
    border: 0;
    position: absolute;
    right: 5px;
    bottom: 5px;
    border-radius: 5px 10px;
    box-shadow: 6px 6px 5px #010e16;
}

#box2 {
    /* border-top:0; */
    border: 0;
    position: absolute;
    bottom: 5px;
    border-radius: 5px;
    box-shadow: 6px 6px 5px #010e16;
}

#box3 {
    border-top: 0;
    border-right: 0;
    border: 0;
    position: absolute;
    left: 5px;
    bottom: 5px;
    border-radius: 10px 5px;
    box-shadow: 5px 6px 5px #010e16;
}

#box4 {
    border-left: 0;
    border: 0;
    position: absolute;
    right: 5px;
    border-radius: 5px 10px;
    box-shadow: 6px 6px 5px #010e16;
}

#box5 {
    border-bottom: 0;
    border: 0;
    border-radius: 5px;
    box-shadow: 6px 6px 5px #010e16;
}

#box6 {
    border-right: 0;
    border: 0;
    position: absolute;
    left: 5px;
    border-radius: 10px 5px;
    box-shadow: 5px 6px 5px #010e16;
}

#box7 {
    border-left: 0;
    border: 0;
    border-bottom: 0;
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 5px 10px;
    box-shadow: 6px 6px 5px #010e16;
}

#box8 {
    border-bottom: 0;
    border: 0;
    position: absolute;
    top: 5px;
    border-radius: 5px;
    box-shadow: 6px 5px 5px #010e16;
}

#box9 {
    border-right: 0;
    border-bottom: 0;
    border: 0;
    position: absolute;
    left: 5px;
    top: 5px;
    border-radius: 10px 5px;
    box-shadow: 5px 6px 5px #010e16;
}

.score-board {
    display: flex;
    border: thin solid red;
    border-radius: 10px;
    box-shadow: inset 8px 8px 10px #0c2c38, 5px 5px 10px #00080b, -6px -6px 10px #192A32;
    /* display: grid; */
    position: relative !important;
    /* height: 50vh; */
    width: 30% !important;
    left: 20px;
    bottom: 100px !important;
    padding: 10px !important;

}

.score-board table {
    border: thin solid green;
    border-radius: 5px;
    box-shadow: inset -8px -8px 10px #1F3540;
    /* display: grid; */
    padding: 10px;
    width: 100% !important;
}

.score-board table tr {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.scores {
    display: grid;
    border: thin solid;
    /* border-bottom: 0;
    border-top: 0;
    border-left: 0; */
    /* border-right: 40px white !important; */
    width: 100% !important;
    height: 100%;
    font-size: 2rem;
    font-weight: 600;
    /* top: 0; */
    font-family: 'Fredoka One', cursive;
    padding: 10px 20px 10px 20px;
}

.character {
    display: grid;
    /* gap: 15px; */
    /* position: relative; */
    font-family: 'Fredoka One', cursive;
    font-size: 2rem;
    /* top: 8px; */
    /* left: 20px; */
    /* text-align: start; */
    border: thin solid;
    /* border-top: 0; */
    /* border-bottom: 0; */
    /* border-left: 0; */
    border-right: 0;
    width: fit-content;
    padding: 10px 20px 10px 20px;
}

/* style.css media query*/
@media screen and (max-width:450px) {
    body {
        background-color: #192A32;
    }

    h1 {
        font-size: 1.8rem;
        text-decoration: wavy !important;
        text-transform: capitalize;
        font-family: 'Permanent Marker', cursive;
        color: #F18F43;
    }

    #text {
        width: fit-content;
        font-family: 'Permanent Marker', cursive;
        word-spacing: 0 !important;
        font-size: 30px;
        /* border: thin solid; */
        box-shadow: inset 8px 8px 10px #0c2c38, 5px 5px 10px #00080b, -6px -6px 10px #192A32;
        background-color: #CA4246;
        background-image: linear-gradient(45deg,
                #CA4246 16.666%,
                #E16541 16.666%,
                #E16541 33.333%,
                #F18F43 33.333%,
                #F18F43 50%,
                #8B9862 50%,
                #8B9862 66.666%,
                #476098 66.666%,
                #476098 83.333%,
                #A7489B 83.333%);
        background-size: 100%;
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        width: 50%;
        height: 40px;
        text-align: center;
        padding: 5px 10px;
        margin: auto;
        top: 1px;
    }

    #table {
        width: 90%;
        height: 50vh;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: 0;
        position: relative;
        top: 1px;
    }

    #table #row td {
        margin: auto;
        background-color: #1F3540;
        width: 60px !important;
        height: 60px !important;
        font-size: 3rem;
        font-family: 'Fredoka One', cursive;
        /* font-family: 'Permanent Marker', cursive; */
        /* background: #000; */
        color: antiquewhite;
        position: relative;
    }

    .character {
        display: grid;
        /* gap: 15px; */
        /* position: relative; */
        font-family: 'Fredoka One', cursive;
        font-size: 2rem;
        /* top: 8px; */
        /* left: 20px; */
        /* text-align: start; */
        border: thin solid;
        /* border-top: 0; */
        /* border-bottom: 0; */
        /* border-left: 0; */
        width: fit-content;
        padding: 10px 20px 10px 20px;
    }

    .score-board {
        display: flex;
        border: thin solid red;
        /* display: grid; */
        position: relative;
        height: max-content;
        top: 15px !important;
        padding: 10px !important;
        width: 80vw !important;
        box-shadow: inset 8px 8px 10px #0c2c38, 5px 5px 10px #00080b, -6px -6px 10px #192A32 !important;
    }

    .score-board table {
        border: thin solid green;
        /* display: grid; */
        padding: 10px;
        width: 100% !important;
        box-shadow: inset -8px -8px 10px #1F3540 !important;
    }

    .score-board table tr {
        display: flex;
        justify-content: space-between;
        text-align: center;
    }

    .scores {
        display: grid;
        border: thin solid;
        /* border-bottom: 0;
        border-top: 0;
        border-left: 0; */
        /* border-right: 40px white !important; */
        width: 80%;
        height: 100%;
        font-size: 2rem;
        font-weight: 600;
        /* top: 0; */
        font-family: 'Fredoka One', cursive;
        padding: 10px 20px 10px 20px;
    }

    .scores tr td {
        border: thin solid;
        font-size: 2rem;
        text-align: center;
        position: relative;
        bottom: 5px;
    }
    body div:nth-child(1){
        display: grid;
        place-content: center;
        /* position: relative; */
        width: 100% !important;
        /* border:thick solid red; */
    }
#btn{
    padding: 25px !important;
    width: 100% !important;
    height: fit-content !important;
    /* border: thick solid !important; */
}
#btn button:nth-child(1) {
    /* margin-left: 30px; */
    font-family: 'Fredoka One', cursive;
    box-shadow: inset 8px 8px 10px #0c2c38, 5px 5px 10px #00080b, -6px -6px 10px #192A32;
    /* border: thin solid; */
    font-size: 60px;
    height: 100px !important;
    width: 100% !important;
    /* animation-name: box1; */
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes box1 {
    30% {
        transform: translateY(35px);
    }
    70%{
        transform: translateY(-35px);
    }
    100%{
        transform: translateY(0px);
    }
}

#btn button:nth-child(2) {
    /* margin-left: 30px; */

    box-shadow: inset 8px 8px 10px #0c2c38, 5px 5px 10px #00080b, -6px -6px 10px #192A32;
    /* border: thin solid; */
    font-family: 'Fredoka One', cursive;
    font-size: 60px;
    height: 100px !important;
    width: 100% !important;
    /* animation-name: box2; */
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* animation-direction: reverse; */
}
@keyframes box2{
    30% {
        transform: translateY(-35px);
    }
    70%{
        transform: translateY(35px);
    }
    100%{
        transform: translateY(0px);
    }
}
#legend {
    /* position: absolute !important;
    bottom: 5% !important;
    left: 45%; */
    margin: auto;
    border-color:#0c2c38;
    box-shadow: 5px 5px 20px 0px #00080b;
    width: fit-content;
    padding: 10px 20px;
    background-color: #04405a;
    animation: play 2s linear infinite;
}
legend{
    font-size: 2.5rem !important;
    font-weight: bolder;
    font-family:Verdana, Geneva, Tahoma, sans-serif !important;
}
    
}

/* gamesignin.css */

body div{
    display: grid;
    place-content: center;
    /* position: relative; */
}

#btn {
    /* border: thin solid white; */
    padding: 60px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content !important;
    width: fit-content !important;
}

#btn button:nth-child(1) {
    /* margin-left: 30px; */
    font-family: 'Fredoka One', cursive;
    box-shadow: inset 8px 8px 10px #0c2c38, 5px 5px 10px #00080b, -6px -6px 10px #192A32;
    /* border: thin solid; */
    font-size: 60px;
    height: 200px;
    width: 200px;
    animation-name: box1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes box1 {
    30% {
        transform: translateY(35px);
    }
    70%{
        transform: translateY(-35px);
    }
    100%{
        transform: translateY(0px);
    }
}

#btn button:nth-child(2) {
    /* margin-left: 30px; */

    box-shadow: inset 8px 8px 10px #0c2c38, 5px 5px 10px #00080b, -6px -6px 10px #192A32;
    /* border: thin solid; */
    font-family: 'Fredoka One', cursive;
    font-size: 60px;
    height: 200px;
    width: 200px;
    animation-name: box2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* animation-direction: reverse; */
}
@keyframes box2{
    30% {
        transform: translateY(-35px);
    }
    70%{
        transform: translateY(35px);
    }
    100%{
        transform: translateY(0px);
    }

    
}

#btn button:nth-child(1):hover {
    font-family: 'Permanent Marker', cursive;
    color: red !important;
    border-color: #0c2c38 !important;
    /* background-color: red; */
}

#btn button:nth-child(2):hover {
    font-family: 'Permanent Marker', cursive;
    color: green !important;
    border-color: #0c2c38 !important;
}

#legend {
    /* position: absolute !important;
    bottom: 5% !important;
    left: 45%; */
    margin: auto;
    border-color:#0c2c38;
    box-shadow: 5px 5px 20px 0px #00080b;
    width: fit-content;
    padding: 10px 20px;
    background-color: #04405a;
    animation: play 2s linear infinite;
}
legend{
    font-size: 2.5rem !important;
    font-weight: bolder;
    font-family:Verdana, Geneva, Tahoma, sans-serif !important;
}
@keyframes play{
    0%{
        transform: scale(0.4);
    }
    25%{
        transform: scale(0.5);
    }
    50%{
        transform: scale(0.6);
    }
    75%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(0.4);
    }
    
}
#title{
    margin: auto !important;
    position: relative;
    bottom: 60px;
}
#title h1{
    font-size: 60px !important;
}
#title h1 span{
    font-size: 60px !important;
}